* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  gap: 20px;
}

.circle-section {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #e6e6e6;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.line {
  width: 80px;
  height: 3px;
  background-color: #e6e6e6;
}

.button-section {
  width: 500px;
  display: flex;
  place-content: space-between;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #3498db;
  border: none;
  border-radius: 8px;
  color: white;
}

.active {
  border-color: #3498db;
}

.active-line {
  background-color: #3498db;
}

.disable {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
